body { 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
 }
 
 /* ESTILOS_HEADER */
 
 header {
     background-color: #e0c2de ;
     padding: 1.5em 0;
 }
 
 .holder {
     margin-left: 2em;
     margin-right: 2em;
     }
 
 header h1 {
     color:rgb(39, 22, 54);
     font-size: 1.5em;
     /*font-weight: 250;*/
     font-style: italic;
     display: inline-block;
     position: static;
     bottom: 35px;
     margin: 10px;
 }
 
 /* ESTILOS_NAVBAR */
 
 nav {
     background-color:#e0c2de;
     margin-bottom: 1em;
 }
 
 nav ul {
     list-style: none;
     margin:0;
     padding:0;
     display: flex;
     justify-content: space-between;
 }
 
 nav ul li {
     display: inline-block;
     width: 18%;
 }
 
 nav ul li a {
     color: rgb(109, 34, 103);
     text-decoration: none;
     padding: 0.5em 0.5em;
     display: block;
     text-align: center;
     transition: all 0.2s ease;
 }
 
 nav ul li a:hover {
     background-color:rgb(207, 159, 197);
 }
 
 nav ul li a.activo {
     background-color:#ba99c0;
 }
 
 /* LISTA_PRODUCTOS */
 
 nav ul li ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #e0c2de;
  position: absolute;
  /*top: 250px;
  left: px; */
  padding: 15px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);	
  z-index: 20;
  transition: all 300ms ease;
 
 }
 
 nav ul li:hover ul {
     visibility: visible;
     opacity: 1;
     top:240px;
     
     
 }
 
 
 /* TRIANGULO_LISTA_PRODUCTOS */
 
 nav ul li ul:before {
     content:" ";
     width: 0;
     height: 0;
     border-left: 12px solid transparent;
     border-right: 12px solid transparent;
     border-bottom: 12px solid #e0c2de;
     position: absolute;
     top: -12px;
     left: 20px
 }
 
 nav ul li ul li a{
 display: block;
 color: rgb(109, 34, 103);
 padding: 6px;
 padding-left: 14px;
 margin-top: 10px;
 font-size: 14px;
 text-transform: uppercase;
 transition: all 300ms ease;
 }
 /* SELECCION_LISTA */
 
 nav ul li ul li a:hover {
     background: #f10a0a;
     color: rgb(45, 10, 202);
     transform: scale(1.1);
     padding-left: 30px;
     font-size: 14px;
     box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);	
 }
 
 /* ESTILOS_MAIN */
 
 h2 {
    color:rgb(39, 22, 54); 
    font-weight: 400;
    margin: 0 0 1em;
 }
 
 /* INICIO */
 
 .left {
    float: left; 
 }
 
 .Inicioimg {
     margin-bottom: 1em;
 }
 .Inicioimg img {
    width: 100%; 
 }
 
 
 .bienvenidos {
     width: 100%;
     padding-right: 10px;/*2em;*/
     box-sizing:border-box;
     background-color: yellow;
 }
 
 .bienvenidos p {
     text-align: justify;
 }
 
 /* INICIO_IMAGEN_MODELOS */
 
 .modelosimg1 {
     margin-bottom: 1em;
     float: left;
     padding-right: 13px;
     margin-left: 4em;
     
 }
 .modelosimg2 {
     margin-bottom: 1em;
     float: left;
     padding-right: 13px;
 
 }
 .modelosimg3 {
     margin-bottom: 1em;
     float: left;
     padding-right: 13px;
 }
 .modelosimg4 {
     margin-bottom: 1em;
     float: left;
     padding-right: 13px;
 }
 
 /* ESTILOS_FOOTER */
 
 footer {/* ESTILOS FOOTER DE LA ESTRUCTURA */
     background: #e0c2de;
     clear: both;
     color: hsl(313, 57%, 39%);
     text-align: left;
     padding: 10px;
     margin-top: 5px;
 }
 
 
 .footer-distributed{
     background: #e0c2de;
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
     box-sizing: border-box;
     width: 100%;
     text-align: left;
     font: normal 15px sans-serif;
     padding: 55px 80px;
 }
 
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
     display: inline-block;
     vertical-align: top;
 }
 
 /* FOOTER_LEFT */
 
 .footer-distributed .footer-left{
     width: 30%;
 }
 
 /* FOOTER_NOMBRE_PAGINA */
 
 .footer-distributed h3{
     color:  hsl(313, 57%, 39%);
     font: normal 36px 'Open Sans', cursive;
     margin: 0;
 }
 
 /* FOOTER_LINKS */
 
 .footer-distributed .footer-links{
     color:  hsl(313, 57%, 39%);
     margin: 12px 0 12px;
     padding: 0;
 }
 
 .footer-distributed .footer-links a{
     display:inline-block;
     line-height: 1;
     font-weight:400;
     text-decoration: none;
     color:  inherit;
 }
 
 /* FOOTER_C2023_COMPANY */
 
 .footer-distributed .footer-c2023-company {
     color:  #222;
     font-size: 14px;
     font-weight: normal;
     margin: 0;
 }
 
 /* FOOTER_CENTER */
 
 .footer-distributed .footer-center{
     width: 30%;
 }
 
 .footer-distributed .footer-center i{
     background-color:  hsl(313, 57%, 39%);
     color: hsl(313, 57%, 39%);
     font-size: 25px;
     width: 38px;
     height: 38px;
     border-radius: 50%;
     text-align: center;
     line-height: 42px;
     margin: 10px 15px;
     vertical-align: middle;
     
 }
 
 .footer-distributed .footer-center i.fa-envelope{
     font-size: 17px;
     line-height: 38px;
 }
 
 .footer-distributed .footer-center p{
     display: inline-block;
     color: hsl(313, 57%, 39%);
       font-weight:400;
     vertical-align: middle;
     margin:0;
     font-size:14px;
     
 }
 
 .footer-distributed .footer-center p span{
     display:block;
     font-weight: normal;
     font-size:14px;
     line-height:2;
     
 }
 
 .footer-distributed .footer-center p a{
     color:  rgb(27, 134, 129);
     text-decoration: none;
     
 }
 
 .footer-distributed .footer-links a:before {
   content: "|";
   font-weight:300;
   font-size: 20px;
   left: 0;
   color: hsl(313, 57%, 39%);
   display: inline-block;
   padding-right: 2px;
   
 }
 
 .footer-distributed .footer-links .link-1:before {
   content: none;
 }
 
 .footer-distributed .footer-icons {
     margin-top: 25px;
 }
 .footer-distributed .footer-icons a{
     display: inline-block;
     width: 35px;
     height: 35px;
     cursor: pointer;
     border-radius: 2px;
 
     font-size: 20px;
     color: #ffffff;
     text-align: center;
     line-height: 35px;
 
     margin-right: 3px;
     margin-bottom: 5px;
 }
 
 /* FOOTER_RIGHT */
 
 .footer-distributed .footer-right{
     width: 30%;
 }
 
 
 